<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<form method="POST" action='/posts'>
		<div>
            <label>description*</label>
            <div>
				<input type="text" name="title">description
			</div>
		</div>
		<div>
            <label>pohoto*</label>
            <div>
				<input type="file" name="your_photo">link of your picture
				 
			</div>
		</div>
		
		<div>
            <input type="submit"/>
        </div>
    </form>



  

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
      <ul>
<li><a href="/user_page">Home</a></li>
<li><a href="/ques">ques</a></li>
<li><a href="/logout">Log out</a></li>
<li><a href="/reco">seved results</a></li>
<li><a href="/posts">make a post</a></li>
</ul>
</div>
<div class="content">
      <div class="title">
</div>



</body>
</html> -->