<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
 	<form method="POST" action='/ques'>
 	<br>
   what is your heir color?
   		<ul>
    		<input type="radio" name="color" value="brunet">brunet
    	</ul>
    	<ul>
    		<input type="radio" name="color" value="blond">blond
    	</ul>
    	<ul>
    		<input type="radio" name="color" value="black">black
    	</ul>
    	<ul>
    		<input type="radio" name="color" value="ginger">ginger
    	</ul>
    	<ul>
    		<input type="radio" name="color" value="light_brown">light_brown
    	</ul>
    	<ul>
    		<input type="radio" name="color" value="colored">colored
		</ul>
 	
	which colors do you prefer?
		<ul>
    		<input type="radio" name="new_color" value="light_cold">light cold
    	</ul>
    	<ul>
    		<input type="radio" name="new_color" value="cold">cold
		</ul>
    	<ul>
    		<input type="radio" name="new_color" value="hot">hot
		</ul>
		<ul>
    		<input type="radio" name="new_color" value="light_hot">light hot
    	</ul>
    which type of season are you ?
    	<ul>
    		<input type="radio" name="season" value="winter">winter
    	</ul>
    	<ul>
    		<input type="radio" name="season" value="summer">summer
		</ul>
    	<ul>
    		<input type="radio" name="season" value="spring">spring
		</ul>
		<ul>
    		<input type="radio" name="season" value="autumn">autumn
    	</ul>

    	<div>
            <input type="submit"/>
        </div>
	</form>
    <br>
</body>
</html>